# Standard Vector configuration
api:
  enabled: true
  address: "127.0.0.1:8686"

sources:
  vector_host:
    type: demo_logs
    interval: 1
    format: "json"

sinks:
  vector_console:
    type: console
    inputs:
      - vector_host
    encoding:
      codec: json
